html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: url("../images/login_bg.jpg") no-repeat center;
  /* css3中  background-size:  length|percentage|cover|contain;
   属性值：默认 auto
   length 

    */
  background-size: cover;
}
.loginAndRegBox {
  width: 400px;
  height: 310px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.loginAndRegBox .title-box {
  height: 60px;
  background: url(../images/login_title.png) no-repeat center;
}
